<h1>Edit article</h1>

<%= form_for :article, local: true, url: article_path(@article), method: :put do |f| %>
  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :text %>
  <%= f.text_area :text %></p>

  <p><%= f.submit 'жыыыыык'%></p>
<% end %>

<a href="/articles">Show all articles</a>
</br>
<%= link_to 'Show all articles', articles_path %>
