<h1>Article list :</h1>

<div class="">
  <% @article.each do |item|%>
  <p>Наименование : <%= item.title %>, Текст : <%= item.text %> <%= link_to 'Show', article_path(item)%> |
    <%= link_to 'Edit', edit_article_path(item)%> | <%= link_to 'Delete', article_path(item), method: :delete, data: {confirm: 'Are you shure?'} %></p>
  <% end %>
</div>
