<h1>New article</h1>


<%= form_for :article, local: true, url: articles_path do |f| %>

    <%= f.label :title %><br/>
    <%= f.text_field :title %><br/>

    <%= f.label :text %><br/>
    <%= f.text_area :text %><br/>

    <%= f.submit 'Жопс' %>

<% end %>
